{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p> {{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="proveedor">

    <form class="hojaProveedor" action="/addCli" method="POST">
        <p>Cedula:<input type="text" name="ced" placeholder="Cedula" maxlength="15"> </p>
        <p>Nombre:<input type="text" name="name" placeholder="Nombre" maxlength="15"> </p>
        <p>Correo:<input type="text" name="mail" placeholder="Correo" maxlength="15"> </p>
        <p>Usuario:<input type="text" name="usua" placeholder="Usuario" maxlength="15"> </p>
        <p>Contraseña:<input type="text" name="passwd" placeholder="Contraseña" maxlength="15"> </p>

    <div class="logo">
        <img src="{{ url_for('static', filename='/IMG/Logo_final.PNG') }}" alt="logoGrupo3"/> 
    </div class="botonesClientes">

        <div class="botones">
            <button class="boton" >Consultar </button>
            <button class="boton"> Actualizar </button>
            <button class="boton" type="submit"> Crear </button>
            <button class="boton"> Borrar</button>
        </div>



    </form>


</div>
<!-- {% for contact in contacts %}
{{ contact.0}}
{% endfor %} -->
<!-- 
{% endblock %} -->
