<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer sitio con python</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css') }}">
    <!--link rel="stylesheet" href="./CSS/style.css" /-->
    <!-- BOOSTRAP
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    -->
</head>

<body>
    <header>
 
        <div class="franja">
            <h1 class="titulo">FRESCURA SIN STRESS</h1>
            <ul class="menu">
                <a class="listas "
                    href="/Cliente">
                    <li>Clientes</li>
                </a>
                <a class="listas "
                    href="/Proveedor">
                    <li>Proveedores</li>
                </a>
                <a class="listas " href="/Productos">
                    <li>Productos</li>
                </a>
                <a class="listas " href="/Ventas">
                    <li>Ventas</li>
                </a>
                <a class="listas " href="/Reporte">
                    <li>Reportes</li>
                </a>
            </ul>
            
            <img src="{{ url_for('static', filename='/IMG/carrito.png') }}" alt="carrito_compras" id="carritoCompras"/>

    </header>


    {% block content%}
    {% endblock %}

<div id=todo>
    <div class="logo">
        <img src="{{ url_for('static', filename='/IMG/Logo_final.PNG') }}" alt="logoGrupo3"/> 
    </div>
    <footer>
        <div class="pie">
            <div class="telefono">
                <img class="iconos" src="{{ url_for('static', filename='/IMG/telefono.png') }}" alt="telefono"/> 
                <p>(+57) 3136661122 </p>
            </div>
          
        <div class="correo">
            <img  class="iconos" src="{{ url_for('static', filename='/IMG/correo.png') }}" alt="correo"/>
            <p>FrescuraSinEs3@gmail.com</p> 
        </div>
           
           <div class="ubicacion">
                <img class="iconos" src="{{ url_for('static', filename='/IMG/ubicacion.png') }}" alt="ubicacion"/>
                 <p>calle Siempre viva 742, Springfield</p> 
           </div>
        </div>
    </div>   
</div>
</footer>
</body>

</html>