{% extends "layout.html" %}

{% block content %}

<div class ="Reporte2">
    <!-- <input type="submit" value="LISTA DE USUARIOS" href="" >
    <input type="submit" value="LISTA DE CLIENTES">
    <input type="submit" value="VENTA POR USUARIOS"> -->
    <button class="boton2" > <a href="/ListaUsuarios">LISTA DE USUARIOS</a> </button>
    <button class="boton2" > <a href="/ListaClientes">LISTA DE CLIENTES</a> </button>
    <button class="boton2" > <a href="/VentaUsua">VENTA POR USUARIO</a> </button>
</div>

{% endblock %}
