{% extends "layout.html" %}

{% block content %}

  
<div class="clientedatos">
  <p>Cedula:<input type="text" name="cedula" maxlength="10" /></p>
  <button class="boton" >Consultar</button>
  <p>Cliente:<input type="text" name="Nombre completo" maxlength="10" /></p>
  <p>Consecutivo:<input type="text" name="correo" maxlength="20" /></p>
</div>

<div class="productodatos">
  <p>Codigo de producto:<input type="text" name="usuario" maxlength="10" /></p>
  <button class="boton" >Consultar</button>
  <p>Nombre Producto: <input type="password" name="password" minlength="6" /></p>
  <p>Cantidad: <input type="password" name="password" minlength="6" /></p>
  <p>Vlr Total: <input type="password" name="password" minlength="6" /></p>
</div>

<div class="productodatos1">
  <p>Codigo de producto:<input type="text" name="usuario" maxlength="10" /></p>
  <button class="boton" >Consultar</button>
  <p>Nombre Producto: <input type="password" name="password" minlength="6" /></p>
  <p>Cantidad: <input type="password" name="password" minlength="6" /></p>
  <p>Vlr Total: <input type="password" name="password" minlength="6" /></p>
</div>

<div class="productodatos1">
  <p>Codigo de producto:<input type="text" name="usuario" maxlength="10" /></p>
  <button class="boton" >Consultar</button>
  <p>Nombre Producto: <input type="password" name="password" minlength="6" /></p>
  <p>Cantidad: <input type="password" name="password" minlength="6" /></p>
  <p>Vlr Total: <input type="password" name="password" minlength="6" /></p>
</div>



<div class="totalventa">
  <section class ="izquierda">
    <div class ="botones">
      <button class="boton" >Confirmar</button>
    </div>
  </section>
  
 <aside>
    <p>Total Venta: <input type="password" name="password" minlength="6" /></p>
    <p>Total IVA: <input type="password" name="password" minlength="6" /></p>
    <p>Total con IVA: <input type="password" name="password" minlength="6" /></p>
 </aside> 
 
</div>

{% endblock %}
